* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
button:hover {
  cursor: pointer;
}
.backColor {
  background-color: #ebedee;
  height: calc(100vh - 95px);
}
/* ---header---- */
.firstHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.searchBar {
  display: flex;
  align-items: center;
  background-color: #f5f6f7;
  border-radius: 5px;
}
.searchBar img {
  height: 15px;
  margin-right: -10px;
  padding-left: 5px;
}
.firstHead input {
  border: none;
  height: 35px;
  background-color: #f5f6f7;
  border-radius: 5px;

  width: 500px;
}
.firstHead button {
  height: 30px;
  border: solid 1px #2cb1ba;
  border-radius: 5px;
}
.sale {
  background-color: #2cb1ba;
  color: white;
}
.signupLoginButton {
  background-color: white;
  color: #2cb1ba;
  padding: 0 20px;
}
.firstHead .logoutButton {
  color: white;
  background-color: #c2175b;
  border: #c2175b;
}
.firstHead > div {
  display: flex;
  gap: 20px;
}
/* ---hero--- */

.hero {
  background-image: url(./assets/img/vinted-home.jpeg);
  background-size: cover;
  background-position: center;
  height: 450px;
}

.heroSign {
  padding: 50px 20px;
  font-size: 34px;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 15vh;
}
.heroSign button {
  margin-top: 30px;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  border: solid 1px #2cb1ba;
  background-color: #2cb1ba;
}
.tear {
  /* border: red solid 1px; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 450px;
}
.tearImg {
  width: 75%;
}
/* ---home-page--- */
main {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666666;
  height: 30px;
}
.imgUser {
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}
.imgArticle {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

.articleContainer {
  padding: 10px 5px;
  width: calc(100% / 5);
  flex-shrink: 0;
  /* border: solid 1px; */
}
.productDescription {
  font-size: 13px;
  color: #666666;
  line-height: 14px;
  margin-top: 2px;
}
/* ------offer------ */
.imgOffer {
  height: 600px;
  width: 400px;
  object-fit: contain;
}
.flexOffer {
  display: flex;
  justify-content: space-around;
}
.textOffer {
  padding: 30px;
  width: 400px;
  height: 600px;
  background-color: white;
}
.backcolorOffer {
  padding: 30px;
  height: 100vh;
  background-color: #ebedee;
}
.flexDetails {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  /* background-color: lightcoral; */
}
.detailsKey {
  font-size: 14px;
  color: #adadad;
}
.detailValue {
  color: #7c7c7c;
}

/* .detailFromMap {
  background-color: aquamarine;

  display: flex;
  flex-direction: column;
} */
.textOffer > p {
  margin-bottom: 20px;
  font-size: 24px;
}
.textOffer h2 {
  margin-top: 30px;
  border-top: 1px solid #e7e7e7;
  padding-top: 50px;
  font-size: 16px;
  font-weight: bold;
}
.textOffer h3 {
  padding: 20px 0;
  font-size: 16px;
  color: #666666;
}
.offerUserInfo {
  display: flex;
  gap: 10px;
  font-size: 16px;
  align-items: center;
  margin-bottom: 50px;
}
.offerUserInfo img {
  border-radius: 50%;
  width: 60px;
}
.buyButton {
  font-size: 16px;
  color: white;
  border: solid 1px #2cb1ba;
  background-color: #2cb1ba;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
}
/* ---signup--- */

.formSignup {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  margin-top: 60px;
}
.formSignup h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.formSignup input {
  width: 300px;
}

.inBorderR {
  font-size: 16px;
  margin: 10px 0;
  height: 40px;
  border: none;
  color: #000000;
  border-bottom: 1px solid #fcced3;
}
.checkbox {
  display: flex;

  margin: 30px 0 10px 0;
}
.checkbox h2 {
  font-size: 20px;
  color: #4a4848;
}
.checkbox input {
  width: 20%;
}
.formSignup p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 40px;
}
.signupSubmit {
  font-size: 16px;
  color: white;
  border: solid 1px #2cb1ba;
  background-color: #2cb1ba;
  padding: 15px 0;
  border-radius: 5px;
}
.signupSubmit:hover {
  cursor: pointer;
}
form .errorMessage {
  text-align: center;
  color: red;
  font-size: 14px;
  padding: 10px 0;
}
.linkLogin > p {
  color: #2cb1ba;
  padding: 20px 0;
}
/* ---login---- */
.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin-top: 60px;
}
.formLogin input {
  width: 280px;
}
.formLogin h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.linkSignin > p {
  color: #2cb1ba;
  padding: 20px 0;
  font-size: 14px;
}
.loginSubmit {
  margin-top: 30px;
  font-size: 16px;
  color: white;
  border: solid 1px #2cb1ba;
  background-color: #2cb1ba;
  padding: 15px 0;
  border-radius: 5px;
}
.loginSubmit:hover {
  cursor: pointer;
}
/* --------Publish-------- */

.formPubishContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 0;
}
.articlePublish {
  padding: 20px;
  display: flex;
  border-bottom: solid 1px lightgray;
}
.articlePublish h2 {
  width: 50%;
  font-size: 18px;
}
.articlePublish input {
  width: 50%;
  height: 30px;
  font-size: 16px;
  border: none;
}
.titlePubish {
  padding: 30px 0 20px 0;
  font-size: 30px;
}
.importPublish {
  height: 250px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkoxPublish > h2 {
  width: 49%;
}
.checkoxPublish {
  padding: 20px 0;
  display: flex;
  gap: 10px;
  font-size: 18px;
}
.submitPublish {
  margin: 40px 0 30px;
  font-size: 16px;
  color: white;
  border: solid 1px #2cb1ba;
  background-color: #2cb1ba;
  padding: 15px 10px;
  border-radius: 5px;
}
.submitFlex {
  display: flex;
  justify-content: flex-end;
}
/* ---paiment--- */

.paimentContainer {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
}
.paimentContainer h3 {
  color: #706f6f;
  margin-bottom: 30px;
}
.paimentSubtotal {
  color: #464545;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}
.paiementTotal {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 40px 0;
  border-top: 1px solid #a0a0a0;
  margin-top: 40px;
}
h4 span {
  font-weight: bold;
}
.paimentContainer h4 {
  font-size: 16px;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 20px;
}

.bottomborderPayment {
  padding-bottom: 20px;
  border-bottom: #666666;
}
.stripe {
  margin-top: 50px;
}
.payButton {
  margin: 20px 0;
  padding: 10px 0;
  width: 100%;
}
